<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<title>Lista de Talentos</title>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	</head>
	
	<body>
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title text-center">Lista de Talentos</h1>
			</div>
			
			<div class="panel-body">
				<form>
					<div></div>
					
					
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Descrição</th>
								<th>Pré-requisito</th>
								<th>Benefício</th>
								<th>Observação</th>
								<th>Tipo Magia</th>
								<th>Custo</th>
								<th>Tipo Talento</th>
								<th>Manual</th>
							</tr>
						</thead>
	
						<tbody>
							<tr th:each="talento : ${talentos}">
								<td th:text="${talento.nome}"></td>
								<td th:text="${talento.descricao}"></td>
								<td th:text="${talento.preRequisito}"></td>
								<td th:text="${talento.beneficio}"></td>
								<td th:text="${talento.observacao}"></td>
								<td th:text="${talento.tipoMagia}"></td>
								<td th:text="${talento.custo}"></td>
								<td th:text="${talento.tipoTalento}"></td>
								<td th:text="${talento.manual}"></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</body>
</html>